.vertical-menu {
    width: 200px;
    height: 150px;
}

.vertical-menu a {
    background-color: #323298; /* Grey background color */
    color: #f7ecec; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #e21915; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
.vertical-menu-div {
    margin:1%;
    min-height:578px;
    margin-right:0;
    height: 100%;
    background-color:#151414;
    width: 17%;
    color: white;
    float: left;
}
.menu-conetent-container {
    margin:1%;
    float: left;
    height:auto;
    width: 80%;
    padding: 15px;
}
